.center {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button {
    height: 50px;
    width: 200px;
    font-size: xx-large;
    margin: 20px;
}

img {
    height: 500px;
    width: 500px;
}

h1 {
    color: red;
}